# Executables
*.out
*.exe
*.bin
*.elf
*.com
# Static libs
*.a
*.lib
# Shared Libs
*.o
*.so
*.dll
# Misc
.idea/
crash-testing/
playground/
libs-and-headers/*
!libs-and-headers/mingw-misc/
!libs-and-headers/mingw-misc/*
!lib/**/*
include/glm
